
.DS_Store
next.config.js
package.json
pages/\[...postpath\].tsx
pages/_app.tsx
pages/index.tsx
public/favicon.ico
public/vercel.svg
README.md
styles/globals.css
styles/Home.module.css
tsconfig.json
yarn.lock
